@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

iframe {
    width: 90%;
    margin-bottom: 30px;
}

body {
    margin: 50px 0 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.bg-yellow {
    background-color: #ffdb14;
}

.btn {
    background-color: #ffdb14;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #897400;
    display: inline-block;
    color: black;
    font-size: 14px;
    padding: 12px 25px;
    text-decoration: none;
    transition: all 0.1s ease;
}

.btn-ghost {
    background-color: #000;
    color: #ffdb14;
    box-shadow: none;
    border: none;
}

.btn-ghost:active {
    transform: none;
}

.btn:active {
    box-shadow: 0 0 0 #897400;
    transform: translate(2px, 2px);
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
}

/* Nav and Header */

nav {
    background-color: #ffdb14;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-link {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}


.header-left {
    padding: 0 10px;
    text-align: justify;
    width: 60%;
}

.header-right {
    display: flex;
    align-items: center;
    width: 40%;
}

/* Features Section */
.feature {
    background-color: #ffdb14;
    border-radius: 10px;
    margin: 0 1.66%;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.feature i {
    margin-top: 15px;
    /* color: #ffdb14; */
    font-size: 30px;
}

.feature h2 {
    font-size: 19px;
    margin-top: 5px;
}

.feature p {
    font-size: 14px;
    line-height: 24px;
}

/* Form Styling */

form {
    margin-bottom: 40px;
}

form .flex {
    display: flex;
    flex-wrap: wrap;
}

form input[type="email"] {
    border-radius: 5px;
    border: 0;
    display: inline-block;
    color: black;
    flex: 1;
    font-size: 14px;
    margin-right: 10px;
    padding: 12px 25px;
}

/* Footer Styling */
footer {
    background-color: #000;
    color:  #ffdb14;
    padding: 10px;
    text-align: center;
}

footer .fa-heart {
    color: red;
}

@media (max-width: 500px) {
  .header-left, .header-right {
    width: 100%
  }
  .header-right {
    order: 0;
  }
  .header-left {
    order: 1;
    padding-left: 10px;
    text-align: center;
  }
  .header-left h1 {
    display: none;
  }
  .feature {
    margin: 0 10px 10px;
    width: 100%;
  }
  .flex input{
    margin: 5px 10px;
    width: 100%
  }
}